<!DOCTYPE html>
<html>
    <head>
        <title>
            Final exam 2515
        </title>
    </head>
    <body>
        <h1>Tim's Pokemon collection</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Health</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pikachu</td>
                    <td>100</td>
                    <td>fire</td>
                </tr>
                <tr>
                    <td>Charmander</td>
                    <td>0</td>
                    <td>fire</td>
                </tr>
                <tr>
                    <td>Beartic</td>
                    <td>50</td>
                    <td>ice</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>